.pp {
    position: relative;
    background: center / cover url('pp.jpg');
    border-radius: 50%;
    height: 64px;
    width: 64px;
    border: solid black 2px;
}

.statue {
    position: absolute;
    background-color: lawngreen;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: solid black 2px;
    right: 0px;
    bottom: 0px;
}